<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs title="Starter" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<!-- End Breadcrumbs -->
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">Starter</h5>
        <button type="button" class="btn btn-primary" (click)="openModel(content)">
            <i class="fa-duotone fa-regular fa-plus me-2"></i> Add Data
        </button>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius ut ad reprehenderit atque quia alias officiis
            inventore maxime tempore temporibus nam dolor, obcaecati deserunt deleniti similique. Fuga beatae eos
            maiores.
            Eveniet voluptatibus at tempore nobis dolorum laboriosam a possimus quod quasi voluptate consequuntur
            mollitia nesciunt, quo voluptates amet assumenda ipsum repellat cum quia! Nobis odit ad minus impedit
            libero. Provident.
            Eveniet ad modi ipsa voluptates voluptate aliquam perspiciatis tempora nemo nobis maiores nostrum, incidunt,
            debitis eos ipsum ex omnis, est non soluta? Reprehenderit, modi nostrum. Tempore expedita voluptates ipsam
            iure!
            Quaerat nemo libero, repellendus voluptatem neque omnis at ratione consequatur soluta ab architecto adipisci
            amet autem, ut vel inventore quidem voluptates similique nesciunt fuga asperiores consectetur itaque minus
            maxime. Laborum.
            Ut perferendis molestiae dolor sunt ipsam asperiores quod accusantium perspiciatis rerum, iure nobis dolore
            impedit odio excepturi minus, mollitia, ipsum doloribus? Tenetur aut tempora rerum et omnis blanditiis
            sapiente illum.
            Fugiat repellendus temporibus nihil accusamus, veritatis similique ullam in quia exercitationem distinctio
            rem natus officia, est ratione! Impedit cum id odio accusamus consequuntur blanditiis pariatur, voluptas
            fuga sit cupiditate molestias?
            Hic dolorum fugit nulla placeat nobis quasi sapiente sed, blanditiis pariatur vitae eius aliquam,
            exercitationem quisquam adipisci odio harum amet repudiandae! Illo soluta iusto porro sed assumenda, vel
            quidem quisquam.
            Libero nobis iusto labore ratione illo sunt veniam laborum eveniet quod incidunt culpa sapiente quaerat
            itaque aspernatur, dignissimos quos iure pariatur animi aliquam, unde tempora officia! Molestiae modi quas
            neque!
            Earum cupiditate officiis maiores accusantium eius quos, non eveniet consequuntur consectetur sequi,
            perspiciatis id voluptas ea corrupti esse, aliquid veniam unde dolorem voluptates dolorum ipsum mollitia eum
            ad. Cupiditate, deleniti.
            Omnis quasi dolores odit corrupti cumque sint, similique veniam minus officiis, ullam, eius repellat eos
            explicabo. Necessitatibus asperiores nisi nobis, saepe consequuntur quia obcaecati esse veritatis eveniet
            modi corporis doloribus.</p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Input</h5>
    </div>
    <div class="card-body">
        <form action="javascript:void(0);">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="firstNameinput" class="form-label">First Name</label>
                        <input style="border-radius: 0.5rem;" type="text" class="form-control"
                            placeholder="Enter your firstname" id="firstNameinput">
                    </div>
                </div><!--end col-->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="lastNameinput" class="form-label">Last Name</label>
                        <input style="border-radius: 0.5rem;" type="text" class="form-control"
                            placeholder="Enter your lastname" id="lastNameinput">
                    </div>
                </div><!--end col-->
                <div class="col-12">
                    <div class="mb-3">
                        <label for="compnayNameinput" class="form-label">Company Name</label>
                        <input style="border-radius: 0.5rem;" type="text" class="form-control"
                            placeholder="Enter company name" id="compnayNameinput">
                    </div>
                </div><!--end col-->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="phonenumberInput" class="form-label">Phone Number</label>
                        <input style="border-radius: 0.5rem;" type="tel" class="form-control"
                            placeholder="+(245) 451 45123" id="phonenumberInput">
                    </div>
                </div><!--end col-->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="emailidInput" class="form-label">Email Address</label>
                        <input style="border-radius: 0.5rem;" type="email" class="form-control"
                            placeholder="example@gamil.com" id="emailidInput">
                    </div>
                </div><!--end col-->
                <div class="col-12">
                    <div class="mb-3">
                        <label for="address1ControlTextarea" class="form-label">Address</label>
                        <input style="border-radius: 0.5rem;" type="text" class="form-control" placeholder="Address 1"
                            id="address1ControlTextarea">
                    </div>
                </div><!--end col-->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="citynameInput" class="form-label">City</label>
                        <input style="border-radius: 0.5rem;" type="email" class="form-control"
                            placeholder="Enter your city" id="citynameInput">
                    </div>
                </div><!--end col-->
                <div class="col-6">
                    <div class="mb-3">
                        <label for="ForminputState" class="form-label">State</label>
                        <select style="border-radius: 0.5rem;" id="ForminputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div><!--end col-->
                <div class="col-lg-12">
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </form>
    </div>
</div>

<ng-template #content role="document" let-modal>
    <div class="modal-header bg-primary p-3">
        <h5 class="modal-title text-white" id="exampleModalLabel">Add Application&nbsp;</h5>
    </div>
    <form action="#" autocomplete="off">
        <div class="modal-body"></div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.dismiss('close click')">Close</button>
                <button type="submit" class="btn btn-primary" id="add-btn">Add Application</button>
            </div>
        </div>
    </form>
</ng-template>